# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
**/node_modules/*
FrontEnd/node_modules/*
# Build
/npm-debug.log
node_modules
dist
/BackEnd/dist/*
BackEnd/dist/*
